
html, body {
    background-color: #21232A;
    color: white;
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
    padding: 70px;
    width: 100%;
}

button {
    background-color: #61DAFB;
    border: none;
    border-radius: 5px;
    color: #21232A;
    cursor: pointer;
    font-size: 1.3rem;
    margin: 0 10px;
    padding: 10px;
}